<a href="/admin/alunos/add"><button class="btn btn-success">Novo aluno</button></a>

<ul>
{{#each aluno}}
    <li>{{matricula}} -- {{nome}} -- {{turma.titulo}} </li> 
                 
{{else}}
    <p>Nenhum aluno registrado!</p>
{{/each}}
</ul>