<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Sistema de chamadas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/usuarios">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/turmas">Turmas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/alunos">Alunos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/usuarios/add">Criar usuários</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/alunos/add">Criar aluno</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/turmas/add">Criar turmas</a>
        </li>
        {{#if user}}
        <li class="nav-item">
        <a class="nav-link active" href="/logout">{{user.nome}},  Sair</a>
        </li>
        {{else}}
        {{/if}}
        </ul>
      </div>
  </div>
</nav>